<div th:fragment="reportModal(reportedId, reportedObject)" class="modal-overlay" id="modal">
    <div class="modal" id="modalCard">
        <div class="modal-content">
            <form id="reportForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div id="reasonSelect" class="form-group"></div>

                <input type="hidden" name="reportObjectId" th:value="${reportedId}"/>

                <input type="hidden" name="reportObjectType" th:value="${reportedObject}"/>

                <div class="form-group">
                    <label for="content">Жалоба:</label>
                    <input type="text" id="content" name="content" class="form-control" required>
                </div>

                <button class="btn btn-primary terms-accept" type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById
            document.querySelector('#reportBtn').addEventListener('click', function () {
                openModal();
                fetch(`/report/reasons`)
                    .then(response => response.text())
                    .then(html => {
                        document.querySelector("#reasonSelect").innerHTML = html;
                    })
                    .catch(error => console.error("Ошибка:", error));
                    });
        });

        document.getElementById("reportForm").addEventListener("submit", async (e) => {
            e.preventDefault(); // отмена стандартной отправки формы

            const formData = new FormData(e.target);

            const params = new URLSearchParams();
            for (const [key, value] of formData.entries()) {
                params.append(key, value);
            }

            try {
            const response = await fetch("/report/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
                },
                body: params
            });

            if (response.ok) {
                alert("Жалоба отправлена!");
                closeModal();
            } else {
                alert("Ошибка при отправке жалобы");
                closeModal();
            }
            } catch (err) {
                console.error("Ошибка:", err);
            }
        });
        
        function openModal() {
            document.getElementById("modal").style.display = "flex";
            setTimeout(() => {
                document.getElementById("modalCard").classList.add('active');
            }, 10);
        }

        function closeModal() {
            document.getElementById("modalCard").classList.remove('active');
            setTimeout(() => {
                document.getElementById("modal").style.display = "none";
            }, 100);
        }

        // Закрытие по клику вне окна
        window.onclick = function(event) {
            const modal = document.getElementById("modal");
            if (event.target == modal) {
                closeModal();
            }
        }
    </script>
</div>

<div th:fragment="reasonSelect">
    <label for="reason">Причина:</label>
    <select name="reportReason" id="reason">
        <option th:each="r : ${reasons}"
                th:value="${r}"
                th:text="${r.name()}">Причина</option>
    </select>
</div>
